<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h1 style="color:#fff ;">Angular CRUD using Template-Driven Form</h1>
        <div class="d-flex">
            <button class="btn btn-success" (click)="clickAddEmployee()" type="button" data-bs-toggle="modal"
                data-bs-target="#exampleModal">Add
                Employee</button>
        </div>
    </div>
</nav>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Employee Id</th>
            <th scope="col">Firstname</th>
            <th scope="col">Lastname</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Salary</th>
            <th scope="col">Action</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let row of employeeData">
            <td>{{row.id}}</td>
            <td>{{row.Firstname}}</td>
            <td>{{row.Lastname}}</td>
            <td>{{row.Email}}</td>
            <td>{{row.Phone}}</td>
            <td>{{row.Salary}}</td>
            <td class="d-flex align-items-start">
                <button (click)="onEdit(row)" class="btn btn-info" type="button" data-bs-toggle="modal"
                    data-bs-target="#exampleModal" class="btn btn-info">Edit</button>
                <button (click)="deleteEmployee(row)" class="btn btn-danger ms-1">Delete</button>
            </td>
        </tr>
    </tbody>
</table>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Employee Details</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">


                <form #myForm="ngForm">

                    <div class="mb-3">
                        <label for="Firstname" class="form-label">Firstname</label>
                        <input type="text" class="form-control" name="Firstname" ngModel id="Firstname"
                            placeholder="Ram" required #Firstname="ngModel" minlength="3" />
                        <div class="text-danger" *ngIf="Firstname.invalid && Firstname.touched">*Enter Your Firstname
                        </div>
                    </div>


                    <div class="mb-3">
                        <label for="Lastname" class="form-label">Lastname</label>
                        <input type="text" class="form-control" name="Lastname" ngModel id="Lastname"
                            placeholder="Srivastava" required #Lastname="ngModel" minlength="3" />
                        <div class="text-danger" *ngIf="Lastname.invalid && Lastname.touched">*Enter Your Lastname</div>
                    </div>


                    <div class="mb-3">
                        <label for="Email" class="form-label">Email address</label>
                        <input type="email" class="form-control" name="Email" ngModel id="Email"
                            placeholder="xyz@gmail.com" required email #Email="ngModel"
                            pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" />
                        <div class="text-danger" *ngIf="Email.invalid && Email.touched">*Enter a Valid Email</div>
                    </div>


                    <div class="mb-3">
                        <label for="Phone" class="form-label">Phone</label>
                        <input type="number" class="form-control" name="Phone" ngModel id="phone"
                            placeholder="1234567890" required #Phone="ngModel" pattern="^[789][0-9]{9}$" />
                        <div class="text-danger" *ngIf="Phone.invalid && Phone.touched">*Enter a Valid Phone Number
                        </div>
                    </div>


                    <div class="mb-3">
                        <label for="salary" class="form-label">salary</label>
                        <input type="number" class="form-control" name="Salary" ngModel id="salary" placeholder="10000"
                            required #salary="ngModel" maxlength="10000" pattern="^([1-9][0-9]{1,3}|10000)$" />
                        <div class="text-danger" *ngIf="salary.invalid && salary.touched">*Enter Proper Salary</div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" id="cancel" class="btn btn-secondary"
                            data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" (click)="postEmployeeDetails()"
                            [disabled]="!myForm.valid" *ngIf="showAdd">Add</button>
                        <button type="button" class="btn btn-primary" [disabled]="!myForm.valid" *ngIf="showUpdate"
                            (click)="updateEmployeeDetails()">Update</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>